@media only screen and (max-width: 768px){
    .main-width {
        width: 95%;
    }
    .div1-score {
        width: 68%;
    }
    #name {
        width: 70%;
    }
    #name-adder {
        width: 28%;
    }
}

@media only screen and (max-width: 430px) {
    .header-main {
        width: 99%;
        margin: 0px;
    }
    .menu ul li {
        padding-left: 0px;
    }

    .logo {
        width: 80%;
    }
    .menu ul {
        padding: 1% 0%;
        gap: 17px;
    }
    .menu{
        text-align: center;
    }
    .div1-score{
        width: 100%;
    }
    .div2-score {
        width: 100%;
    }
    #name-adder {
        width: 75%;
    }
    .strat-btn {
        padding: 6px 3%;
    }
    .main-width {
        width: 97%;
    }
    #name {
        width: 60%;
    }
    .word-div {
        width: 100%;
    }
    #start {
        padding: 0px 35px;
    }
    #Stop {
        padding: 9px 26px 12px;
    }
    .btn-div {
        grid-template-columns: repeat(3, 1fr);
    }
    #score {
        box-shadow: none;
    }
  }
  

